.container {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 1fr 0.2fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas: '. logo-all . . .' '. quote-text quote-text quote-text .' '. . . name .';
}

.logo-all {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: 0.2fr 0.8fr;
  gap: 0px 0px;
  grid-area: logo-all;
}

.logo {
  grid-area: 2 / 1 / 3 / 2;
  color: rgba(255, 255, 255, 0.726);
}

.full {
  display: flex;
  flex-direction: column;
}

.quote-text {
  grid-area: quote-text;
  color: white;
  background-color: rgba(0, 0, 0, 0.418);
  text-align: center;
  margin: auto;
  border-radius: 1px;
}

.name {
  grid-area: name;
  color: white;
  align-self: center;
  text-align: end;
}
