.container {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: 0.2fr 0.9fr 1fr 1fr 0.2fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    'up up up up up'
    'quote quote quote quote quote'
    'down down down down down';
}

.up {
  display: grid;
  grid-template-columns: 0.05fr 0.3fr 0.3fr 0.3fr 0.05fr;
  grid-template-rows: 0.4fr 0.6fr;
  gap: 0px 0px;
  grid-template-areas:
    '. . . . .'
    '. logo . . .';
  grid-area: up;
  color: rgba(255, 255, 255, 0.726);
}

.logo {
  grid-area: logo;
}

.sota {
  font-size: 120%;
}

.mini {
  font-size: 42%;
}

.quote {
  display: grid;
  grid-template-columns: 0.05fr 0.9fr 0.05fr;
  grid-template-rows: 1fr auto;
  gap: 0px 0px;
  grid-template-areas:
    '. . .'
    'l text r';
  grid-area: quote;
}

.l {
  grid-area: l;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0) 70%
  );
}

.r {
  grid-area: r;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0) 70%
  );
}

.text {
  grid-area: text;
  color: white;
  text-align: left;
  justify-self: 0nd;
  margin: auto;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0) 70%
  );
  display: flex;
  align-items: stretch;
}

.c::before {
  content: '____________';
  color: transparent;
}

.c::after {
  content: '......................';
  color: transparent;
}

.down {
  display: grid;
  grid-template-columns: 0.05fr 0.3fr 0.3fr 0.3fr 0.05fr;
  grid-template-rows: 0.1fr 0.2fr 0.7fr;
  gap: 0px 0px;
  grid-area: down;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
}

.name {
  color: white;
  grid-area: name;
  text-align: center;
  align-self: center;
  font-size: 70%;
}

.author {
  color: white;
  grid-area: author;
  text-align: end;
  font-size: 70%;
}
